
<div class="col-sm-6 col-md-4">

    <div class="thumbnail">
        <img alt="" src="" ng-src="{{product.image}}">

        <div class="caption">
            <h3>{{product.name}}</h3>

            <p>{{product.description}}</p>

            <p>
                <a href="#" class="btn btn-info" role="button"
                   ng-click="showProductInformation(product)">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp; &nbsp;Information</a>
                <a href="#" class="btn btn-primary" role="button"
                   ng-click="addToCart(product)">
                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Add To Cart

                </a>

            </p>
        </div>
    </div>


</div>
