<div class="panel panel-default">

    <div class="panel-heading">
        Shipping Information
    </div>

    <div class="panel-body">


        <fieldset>

            <div class="input-group">
                <label for="shipping_firstName">First Name</label>
                <input ng-model="customer.shipping.firstName" type="text" id="shipping_firstName" name="shipping_firstName"
                       class="form-control" placeholder="First Name">
            </div>
            <div class="input-group">
                <label for="shipping_lastName">Last Name</label>
                <input ng-model="customer.shipping.lastName" type="text" name="shipping_lastName" id="shipping_lastName" class="form-control"
                       placeholder="Surname Name">
            </div>
            <div class="input-group">
                <label for="shipping_address1">Address 1</label>
                <input ng-model="customer.shipping.address1" type="text" name="shipping_address1" id="shipping_address1" class="form-control"
                       placeholder="Address 1">
            </div>
            <div class="input-group">
                <label for="shipping_address2">Address 2</label>
                <input ng-model="customer.shipping.address2" type="text" name="shipping_address2" id="shipping_address2" class="form-control"
                       placeholder="Address 2">
            </div>
            <div class="input-group">
                <label for="shipping_postcode">Post Code</label>
                <input ng-model="customer.shipping.postcode" type="text" name="shipping_postcode" id="shipping_postcode" class="form-control"
                       placeholder="Address 2">
            </div>

        </fieldset>


    </div>
</div>
